<configuration>

    <appender name="FILE_TO_DISK" class="ch.qos.logback.core.FileAppender">
        <file>logs/consoleView.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.epam.spring" level="info">
        <appender-ref ref="FILE_TO_DISK"/>
    </logger>
    <logger name="org.hibernate" level="info">
        <appender-ref ref="FILE_TO_DISK"/>
    </logger>
    <logger name="org.hibernate.sql" level="debug">
        <appender-ref ref="FILE_TO_DISK"/>
    </logger>

</configuration>